**READING INVENTORY**

In [2]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [4]:
records

{'1501': {'Name': 'TupperWare Bottler', 'Price': 80, 'quantity': 30},
 '1502': {'Name': 'Dishwash', 'Price': 20, 'quantity': 200},
 '1503': {'Name': 'FingerChips', 'Price': 20, 'quantity': 200},
 '1504': {'Name': 'Apple Juice', 'Price': 100, 'quantity': 40},
 '1505': {'Name': 'Bags', 'Price': 150, 'quantity': 50},
 '1506': {'Name': 'Clippers', 'Price': 20, 'quantity': 300},
 '1507': {'Name': 'Dairymilk', 'Price': 25, 'quantity': 100},
 '1508': {'Name': 'Espresso', 'Price': 90, 'quantity': 50},
 '1509': {'Name': 'Flour', 'Price': 200, 'quantity': 30},
 '1510': {'Name': 'Ghee', 'Price': 200, 'quantity': 30},
 '1511': {'Name': 'Honey', 'Price': 75, 'quantity': 50},
 '1512': {'Name': 'Icing Powder', 'Price': 60, 'quantity': 70},
 '1513': {'Name': 'Jello', 'Price': 10, 'quantity': 50},
 '1514': {'Name': 'k', 'Price': 15, 'quantity': 30},
 '1515': {'Name': 'l', 'Price': 25, 'quantity': 40},
 '1516': {'Name': 'M', 'Price': 35, 'quantity': 50},
 '1517': {'Name': 'N', 'Price': 45, 'quantity': 60},
 '1518': {'Name': 'O', 'Price': 55, 'quantity': 70},
 '1519': {'Name': 'P', 'Price': 65, 'quantity': 80},
 '1520': {'Name': 'Q', 'Price': 75, 'quantity': 90},
 '1521': {'Name': 'R', 'Price': 85, 'quantity': 100},
 '1522': {'Name': 'S', 'Price': 95, 'quantity': 130},
 '1523': {'Name': 'T', 'Price': 105, 'quantity': 120},
 '1524': {'Name': 'U', 'Price': 115, 'quantity': 110},
 '1525': {'Name': 'V', 'Price': 125, 'quantity': 50},
 '1526': {'Name': 'W', 'Price': 135, 'quantity': 80},
 '1527': {'Name': 'X', 'Price': 145, 'quantity': 64},
 '1528': {'Name': 'Y', 'Price': 155, 'quantity': 76},
 '1529': {'Name': 'Z', 'Price': 165, 'quantity': 45},
 '1530': {'Name': 'Papper bag', 'Price': 175, 'quantity': 233}}

**PURCHASING**

In [12]:
import time

time_of_purchase = 0

ID  = str(input("Enter the product_Id: "))
QUANT = int(input("Enter the quantity: "))

if ID in records:
  if QUANT <= records[ID]['quantity']:
    print("Product: ", records[ID]['Name'])
    print("Price: ", records[ID]['Price'])
    print("Billing Amount: ", records[ID]['Price'] * QUANT)
    time_of_purchase = str(time.ctime())
    records[ID]['quantity'] = records[ID]['quantity'] - QUANT
  else:
    print("Sorry!! We have only" + str(records[ID]['quantity']) + "units of the product")
else:
  print("Sorry!! The product is currently out of stock.")

Enter the product_Id: 1530
Enter the quantity: 33
Product:  Papper bag
Price:  175
Billing Amount:  5775

**UPDATE INVENTORY AFTER PURCHASE**

In [6]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**SALES**

In [8]:
fd = open("Sales.json",'r')
sls = fd.read()
fd.close()

In [9]:
Sales = json.loads(sls)

In [13]:
sale_num = len(Sales.keys()) + 1
Sales[sale_num] = {"ID" : ID, "Quantity" : QUANT, "Time" :time_of_purchase, "Amount": records[ID]['Price'] * QUANT}

jss=json.dumps(Sales)

fd = open("Sales.json",'w')
fd.write(jss)
fd.close()