**READING DATA FROM INVENTORY**

In [ ]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [ ]:
records

{'1501': {'Name': 'TupperWare Bottler', 'Price': 80, 'quantity': 30},
 '1502': {'Name': 'Dishwash', 'Price': 20, 'quantity': 200},
 '1503': {'Name': 'FingerChips', 'Price': 20, 'quantity': 200},
 '1504': {'Name': 'Apple Juice', 'Price': 100, 'quantity': 40},
 '1505': {'Name': 'Bags', 'Price': 150, 'quantity': 50},
 '1506': {'Name': 'Clippers', 'Price': 20, 'quantity': 300},
 '1507': {'Name': 'Dairymilk', 'Price': 25, 'quantity': 100},
 '1508': {'Name': 'Espresso', 'Price': 90, 'quantity': 50},
 '1509': {'Name': 'Flour', 'Price': 200, 'quantity': 30},
 '1510': {'Name': 'Ghee', 'Price': 200, 'quantity': 30},
 '1511': {'Name': 'Honey', 'Price': 75, 'quantity': 50},
 '1512': {'Name': 'Icing Powder', 'Price': 60, 'quantity': 70},
 '1513': {'Name': 'Jello', 'Price': 10, 'quantity': 50},
 '1514': {'Name': 'k', 'Price': 15, 'quantity': 30},
 '1515': {'Name': 'l', 'Price': 25, 'quantity': 40},
 '1516': {'Name': 'M', 'Price': 35, 'quantity': 50},
 '1517': {'Name': 'N', 'Price': 45, 'quantity': 60},
 '1518': {'Name': 'O', 'Price': 55, 'quantity': 70},
 '1519': {'Name': 'P', 'Price': 65, 'quantity': 80},
 '1520': {'Name': 'Q', 'Price': 75, 'quantity': 90},
 '1521': {'Name': 'R', 'Price': 85, 'quantity': 100},
 '1522': {'Name': 'S', 'Price': 95, 'quantity': 130},
 '1523': {'Name': 'T', 'Price': 105, 'quantity': 120},
 '1524': {'Name': 'U', 'Price': 115, 'quantity': 110},
 '1525': {'Name': 'V', 'Price': 125, 'quantity': 50},
 '1526': {'Name': 'W', 'Price': 135, 'quantity': 80},
 '1527': {'Name': 'X', 'Price': 145, 'quantity': 64},
 '1528': {'Name': 'Y', 'Price': 155, 'quantity': 76},
 '1529': {'Name': 'Z', 'Price': 165, 'quantity': 45},
 '1530': {'Name': 'Papper bag', 'Price': 175, 'quantity': 233}}

**ADDING NEW ITEM TO INVENTORY**

In [3]:
ID = str(input("Enter product id:"))
name = str(input("Enter name:"))
price = int(input("Enter price:"))
quant = int(input("Enter quantity:"))

records[ID] = {'Name': name, 'Price': price, 'quantity': quant}

js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1531
Enter name:greeting card
Enter price:15
Enter quantity:200

In [4]:
records

{'1501': {'Name': 'TupperWare Bottler', 'Price': 80, 'quantity': 30},
 '1502': {'Name': 'Dishwash', 'Price': 20, 'quantity': 200},
 '1503': {'Name': 'FingerChips', 'Price': 20, 'quantity': 200},
 '1504': {'Name': 'Apple Juice', 'Price': 100, 'quantity': 40},
 '1505': {'Name': 'Bags', 'Price': 150, 'quantity': 50},
 '1506': {'Name': 'Clippers', 'Price': 20, 'quantity': 300},
 '1507': {'Name': 'Dairymilk', 'Price': 25, 'quantity': 100},
 '1508': {'Name': 'Espresso', 'Price': 90, 'quantity': 50},
 '1509': {'Name': 'Flour', 'Price': 200, 'quantity': 30},
 '1510': {'Name': 'Ghee', 'Price': 200, 'quantity': 30},
 '1511': {'Name': 'Honey', 'Price': 75, 'quantity': 50},
 '1512': {'Name': 'Icing Powder', 'Price': 60, 'quantity': 70},
 '1513': {'Name': 'Jello', 'Price': 10, 'quantity': 50},
 '1514': {'Name': 'k', 'Price': 15, 'quantity': 30},
 '1515': {'Name': 'l', 'Price': 25, 'quantity': 40},
 '1516': {'Name': 'M', 'Price': 35, 'quantity': 50},
 '1517': {'Name': 'N', 'Price': 45, 'quantity': 60},
 '1518': {'Name': 'O', 'Price': 55, 'quantity': 70},
 '1519': {'Name': 'P', 'Price': 65, 'quantity': 80},
 '1520': {'Name': 'Q', 'Price': 75, 'quantity': 90},
 '1521': {'Name': 'R', 'Price': 85, 'quantity': 100},
 '1522': {'Name': 'S', 'Price': 95, 'quantity': 130},
 '1523': {'Name': 'T', 'Price': 105, 'quantity': 120},
 '1524': {'Name': 'U', 'Price': 115, 'quantity': 110},
 '1525': {'Name': 'V', 'Price': 125, 'quantity': 50},
 '1526': {'Name': 'W', 'Price': 135, 'quantity': 80},
 '1527': {'Name': 'X', 'Price': 145, 'quantity': 64},
 '1528': {'Name': 'Y', 'Price': 155, 'quantity': 76},
 '1529': {'Name': 'Z', 'Price': 165, 'quantity': 45},
 '1530': {'Name': 'Papper bag', 'Price': 175, 'quantity': 233},
 '1531': {'Name': 'greeting card', 'Price': 15, 'quantity': 200}}

**DELETING A RECORD**

In [5]:
ID = str(input("Enter product id:"))

if ID in records:
  del records[ID]
else:
  print("Product Does not Exist")

js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1531

In [6]:
records

{'1501': {'Name': 'TupperWare Bottler', 'Price': 80, 'quantity': 30},
 '1502': {'Name': 'Dishwash', 'Price': 20, 'quantity': 200},
 '1503': {'Name': 'FingerChips', 'Price': 20, 'quantity': 200},
 '1504': {'Name': 'Apple Juice', 'Price': 100, 'quantity': 40},
 '1505': {'Name': 'Bags', 'Price': 150, 'quantity': 50},
 '1506': {'Name': 'Clippers', 'Price': 20, 'quantity': 300},
 '1507': {'Name': 'Dairymilk', 'Price': 25, 'quantity': 100},
 '1508': {'Name': 'Espresso', 'Price': 90, 'quantity': 50},
 '1509': {'Name': 'Flour', 'Price': 200, 'quantity': 30},
 '1510': {'Name': 'Ghee', 'Price': 200, 'quantity': 30},
 '1511': {'Name': 'Honey', 'Price': 75, 'quantity': 50},
 '1512': {'Name': 'Icing Powder', 'Price': 60, 'quantity': 70},
 '1513': {'Name': 'Jello', 'Price': 10, 'quantity': 50},
 '1514': {'Name': 'k', 'Price': 15, 'quantity': 30},
 '1515': {'Name': 'l', 'Price': 25, 'quantity': 40},
 '1516': {'Name': 'M', 'Price': 35, 'quantity': 50},
 '1517': {'Name': 'N', 'Price': 45, 'quantity': 60},
 '1518': {'Name': 'O', 'Price': 55, 'quantity': 70},
 '1519': {'Name': 'P', 'Price': 65, 'quantity': 80},
 '1520': {'Name': 'Q', 'Price': 75, 'quantity': 90},
 '1521': {'Name': 'R', 'Price': 85, 'quantity': 100},
 '1522': {'Name': 'S', 'Price': 95, 'quantity': 130},
 '1523': {'Name': 'T', 'Price': 105, 'quantity': 120},
 '1524': {'Name': 'U', 'Price': 115, 'quantity': 110},
 '1525': {'Name': 'V', 'Price': 125, 'quantity': 50},
 '1526': {'Name': 'W', 'Price': 135, 'quantity': 80},
 '1527': {'Name': 'X', 'Price': 145, 'quantity': 64},
 '1528': {'Name': 'Y', 'Price': 155, 'quantity': 76},
 '1529': {'Name': 'Z', 'Price': 165, 'quantity': 45},
 '1530': {'Name': 'Papper bag', 'Price': 175, 'quantity': 233}}

**UPDATING A RECORD**

In [ ]:
ID = str(input("Enter product id:"))
query = str(input("Parameter to be updated:"))
new = str(input("Enter new data:"))

if ID in records:
  if query == 'Price' or query == 'quantity':
    dt = int(new)
    record[ID][query] = dt
  else:
    record[ID][query] = new

else:
  print("Product Does not Exist")

js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()